<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
     <connectionStrings>
      <add name="Test" connectionString="Data Source=ANKUR-PC\SQLEXPRESS;Initial Catalog=RDP;Persist Security Info=True;Password=P@ssw0rd;User ID=sa" providerName="System.Data.SqlClient" />      
    </connectionStrings>
 </configuration>